* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    height: auto;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  #header {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    height: 80px;
    padding: 1rem;
  }
  
  #header img {
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
    .logo > h1 {
      font-size: 2.5rem;
      color: ;
    }
  
  #game-container.hidden,
  footer.hidden {
    display: none;
  }
  
  #game-container {
    height: calc(100vh - 130px); /* Adjust the height based on the header and footer height */
    background-color: #7fffd4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding: 2rem 0;
  }

  #grid-game-container {
    width: 800px;
    height: 800px;
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
  }
    .bomb-cell {
      width: calc(100% / 10);
      height: calc(100% / 10);
      border: 2px solid black;
      display: flex;
      align-items: center;
      justify-content: center;  
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      cursor: pointer;
    }
    .bomb-cell:nth-child(1) {
      border-top-left-radius: 1rem;
    }
    .bomb-cell:nth-child(10) {
      border-top-right-radius: 1rem;
    }
    .bomb-cell:nth-child(91) {
      border-bottom-left-radius: 1rem;
    }
    .bomb-cell:nth-child(100) {
      border-bottom-right-radius: 1rem;
    }

    .cell-selected {
      background-color: #0d77b0;
    }
  
  footer {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #f1f1f1;
    padding: 0 1rem;
  }
  
  footer p {
    font-size: 18px;
    color: #000;
  }
  